<div class="jumbotron">
  <h2>Welcome to Beers Application!</h2>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Beers</h4>

        <%= link "Go to Beers", to: beer_path(@conn, :index) %>

  </div>
</div>
